@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
    --base-color: #023047;
    --sub-base-color: #FFB703;
    --sub-color: #454955;
    --text-color: #FFFFFF;
    --base-p-fs: calc(1rem + 1vw);
    --base-header-fs: calc(1.1rem + 1.2vw);
    --app-h2-fs: calc(.6rem + .6vw);
    --logo-width: max(40px, 35%);
    --base-header-ff: "Sanchez", sans-serif;
    --base-paragraph-ff: "League Spartan", sans-serif;
    --base-margin: 0.3em 0em;
    --box-shadow: 5px 10px 30px black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

#main-container {
    height: 100vh;
}

nav {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 20px;
    align-items: center;
    height: 8%;
    background-color: var(--base-color);
}

.logo-div {
    width: 40%;
    display: grid;
    justify-items: center;
}

.logo-icon {
    width: var(--logo-width);
}

.header-div {
    width: 40%;
    display: grid;
    text-align: center;
}

.header-txt {
    color: var(--sub-base-color);
    font-size: var(--base-header-fs);
    font-family: var(--base-header-ff);
}

main {
    height: 92%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* MAIN LEFT */
.left-side-bar {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--sub-color);
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-div,
.today-div,
.week-div {
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: var(--base-color);
    border-radius: 10px;
}

.home-txt-div,
.today-txt-div,
.week-txt-div {
    grid-column: 2 / 3;
    color: var(--text-color);
    font-size: var(--app-h2-fs);
    font-family: var(--base-paragraph-ff);
}

.home-logo-div,
.today-logo-div,
.week-logo-div {
    grid-column: 1 / 2;
    display: grid;
    justify-items: center;
}

.home-icons {
    width: max(30px, 20%);
    filter: invert(65%) sepia(85%) saturate(856%) hue-rotate(355deg) brightness(102%) contrast(104%);
}

.home-eye,
.today-eye,
.week-eye {
    width: max(30px, 20%);
    cursor: pointer;
    filter: invert(96%) sepia(4%) saturate(0%) hue-rotate(4deg) brightness(105%) contrast(105%);
}


.home-eye:hover {
    filter: invert(74%) sepia(22%) saturate(2177%) hue-rotate(77deg) brightness(111%) contrast(103%);
}

.today-eye:hover {
    filter: invert(74%) sepia(22%) saturate(2177%) hue-rotate(77deg) brightness(111%) contrast(103%);
}

.week-eye:hover {
    filter: invert(74%) sepia(22%) saturate(2177%) hue-rotate(77deg) brightness(111%) contrast(103%);
}

.project-container {
    position: relative;
}

.project-names-h1{
    color: var(--sub-base-color);
    font-size: var(--base-header-fs);
    font-family: var(--base-header-ff);
    text-align: center;
}

.projects-div {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.my-project {
    height: 10%;
    width: 70%;
    background-color: var(--base-color);
    margin-top: .5em;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-content: center;
}

.project-p {
    color: var(--text-color);
    font-size: var(--base-p-fs);
    font-family: var(--base-paragraph-ff);
}

.project-delete-icon {
    width: max(30px, 40%);
    cursor: pointer;
    filter: invert(100%) sepia(8%) saturate(7480%) hue-rotate(180deg) brightness(109%) contrast(88%);
}

.project-delete-icon:hover {
    filter: invert(23%) sepia(79%) saturate(4643%) hue-rotate(1deg) brightness(100%) contrast(109%);
}

.project-add-icon {
    width: max(30px, 40%);
    cursor: pointer;
    filter: invert(100%) sepia(8%) saturate(7480%) hue-rotate(180deg) brightness(109%) contrast(88%);
}

.project-add-icon:hover {
    filter: invert(74%) sepia(22%) saturate(2177%) hue-rotate(77deg) brightness(111%) contrast(103%);
}

.project-btn-div {
    height: 8%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.project-btn {
    background-color: var(--sub-base-color);
    color: var(--base-color);
    border: none;
    padding: 0em 2em;
    border-radius: 8px;
    height: 80%;
    cursor: pointer;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    align-items: center;
    gap: 4px;
    font-size: calc(.5rem + .6vw);
    font-family: var(--base-paragraph-ff);
}

.project-plus-icon {
    width: max(20px, 25%);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(134deg) brightness(107%) contrast(106%);
}

/* PROJECT FORM STYLING */
#project-form-container {
    border: 1px solid var(--text-color);
    display: none;
    position: absolute;
    top: 10%;
    right: 0%;
    left: 0%;
    margin: auto;
    height: 15%;
    width: 70%;
    background-color: #023047;
    padding: .4em .4em;
}

.project-name {
    display: grid;
    justify-content: center;
}

.project-name > input {
    border: none;
    width: 100%;
}

.project-name > input:focus {
    outline: none;
}

.project-name > input::placeholder {
    text-align: center;
}

.project-form-submit {
    display: grid;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.project-form-btn {
    padding: .4em 1em;
    border: none;
    background-color: var(--sub-base-color);
    color: var(--text-color);
    border-radius: 8px;
}

/* MAIN RIGHT */
.right-side-bar {
    position: relative;
    background-color: #90dbf4;
    overflow-y: auto;

}

.right-main-container {
    height: 100%;
}

.task-header {
    font-size: var(--base-header-fs);
    font-family: var(--base-header-ff);
    text-align: center;
    margin-bottom: 2em;
    color: var(--sub-base-color);
}

.task-div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: 80%;
    margin: 1em auto;
    padding: .4em .8em;
    background-color: var(--sub-color);
    color: var(--text-color);
    border-radius: 10px;
}

.completed-task {
    background-color: red;
    text-decoration: line-through;
}

.title-div {
    /* border: 1px solid orange; */
    font-size: calc(.9rem + .9vw);
    font-family: var(--base-paragraph-ff);
}

.due-date-div {
    /* border: 1px solid orange; */
    font-size: calc(.7rem + .7vw);
    font-family: var(--base-paragraph-ff);
}

.priority-div {
    /* border: 1px solid orange; */
    font-size: calc(.9rem + .9vw);
    font-family: var(--base-paragraph-ff);
}

.check-list-div {
    display: flex;
    justify-content: space-around;
    width: 10%;
    font-size: calc(.6rem + .6vw);
    font-family: var(--base-paragraph-ff);
}

.delete-task-div {
    width: 8%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.delete-task-img {
    width: max(30px, 40%);
    cursor: pointer;
    filter: invert(100%) sepia(8%) saturate(7480%) hue-rotate(180deg) brightness(109%) contrast(88%);
}

.delete-task-img:hover {
    filter: invert(23%) sepia(79%) saturate(4643%) hue-rotate(1deg) brightness(100%) contrast(109%);
}

.add-task-btn-div {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 6%;
}

.add-task-btn {
    background-color: var(--sub-base-color);
    border: none;
    color: var(--sub-color);
    padding: .4em .8em;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--base-paragraph-ff);
    font-size: calc(.6rem + .6vw);
}

/* PROJECT TASK STYLING */
#task-form-container {
    display: none;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 10%;
    margin: auto;
    height: 40%;
    width: 55%;
    background-color: var(--sub-color);
}

#task-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.task-divs {
    border: 2px solid var(--sub-base-color);
    height: 60px;
    color: var(--text-color);
    margin: .4em .6em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
}

#task-form-container  input:focus {
    outline: none;
}

.task-btn {
    background-color: var(--sub-base-color);
    border: none;
    color: var(--text-color);
    padding: .4em .8em;
    border-radius: 5px;
    cursor: pointer;
}
