

:root {
    --base-color: #023047;
    --sub-base-color: #FFB703;
    --sub-color: #454955;
    --text-color: #FFFFFF;
    --base-p-fs: calc(1rem + 1vw);
    --base-header-fs: calc(1.1rem + 1.2vw);
    --app-h2-fs: calc(.6rem + .6vw);
    --logo-width: max(40px, 35%);
    --base-header-ff: "Caprasimo", sans-serif;
    --base-paragraph-ff: "Comfortaa", sans-serif;
    --base-margin: 0.3em 0em;
    --box-shadow: 5px 10px 30px black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

#main-container {
    height: 100vh;
}

nav {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 20px;
    align-items: center;
    height: 8%;
    background-color: var(--base-color);
}

.logo-div {
    width: 40%;
    display: grid;
    justify-items: center;
}

.logo-icon {
    width: var(--logo-width);
}

.header-div {
    width: 40%;
    display: grid;
    text-align: center;
}

.header-txt {
    color: var(--sub-base-color);
    font-size: var(--base-header-fs);
}

main {
    height: 92%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* MAIN LEFT */
.left-side-bar {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--sub-color);
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-div,
.today-div,
.week-div {
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--base-color);
    border-radius: 10px;
    cursor: pointer;
}

.home-txt-div,
.today-txt-div,
.week-txt-div {
    grid-column: 2 / 3;
    color: var(--text-color);
    font-size: var(--app-h2-fs);
}

.home-logo-div,
.today-logo-div,
.week-logo-div {
    grid-column: 1 / 2;
    display: grid;
    justify-items: center;
}

.home-icons {
    width: max(30px, 20%);
    filter: invert(65%) sepia(85%) saturate(856%) hue-rotate(355deg) brightness(102%) contrast(104%);
}

.project-container {
    /* border: 3px solid darkorchid; */
}

.projects-div {
    height: 90%;
}

.project-btn-div {
    height: 10%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.project-btn {
    background-color: var(--sub-base-color);
    color: var(--base-color);
    border: none;
    padding: 0em 2em;
    border-radius: 8px;
    height: 80%;
    cursor: pointer;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    align-items: center;
    gap: 4px;
}

.project-plus-icon {
    width: max(20px, 25%);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(134deg) brightness(107%) contrast(106%);
}

/* MAIN RIGHT */
.right-side-bar {
    border: 3px solid orange;
}

.right-main-container {
    border: 1px solid red;
    height: 100%;
}